* {
    margin: 0;
    padding: 0;
}

body {
    margin: 5% 5% 0 5%;
}

.options > div {
    margin-bottom: 20px;
}

input[type="range"] {
    accent-color: gray;
}

.yellow {
    color: yellow;
}

.purple {
    color: purple;
}


.charts {
    display: flex;
}

.charts > div {
    width: 50%;
}

@media (max-width: 600px) {
    .charts {
        flex-wrap: wrap;
    }

    .charts > div {
        width: 100%;
    }
}